<%- include("../_header") -%>


<h1><%= title %></h1>


<form action="/listUsers/add" method="post">

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="FirstName">First Name</label>
            <div class="col-sm-7">
                <input class="form-control" placeholder="First name" name="FirstName" value="" required />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="LastName">Last Name</label>
            <div class="col-sm-7">
                <input autofocus class="form-control " placeholder="Last name" name="LastName" value="" required />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="phone">Phone</label>
            <div class="col-sm-7">
                <input type="phone" class="form-control" name="phone" value="" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2" for="EmailAddress">Email Address</label>
            <div class="col-sm-7">

                <textarea type="email" placeholder="Email" class="form-control" cols="20" name="EmailAddress"
                    maxlength="32000" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2"></label>
            <div class="col-sm-7">
                <input type="submit" value="Save" class="btn btn-warning" />
                <a class="btn btn-outline-dark cancel" href="/listUsers">Cancel</a>
            </div>
        </div>
    </div>

</form>
<%- include("../_footer") -%>